* {
    box-sizing: border-box;
}

body {
    background-color: darkgray;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

span {
    font-size: 50px;
}

.num {
    border: none;
    background-color: lightgray;
    font-size: 50px;
    font-family: inherit;
    width: 100px;
    text-align: center;
    margin-left: 7px;
}

.num:focus {
    outline: none;
}

.submit {
    display: block;
    margin-left: 45%;
    margin-top: 40px;
    padding: 15px 16px;
    border: none;
    color: #fff;
    background: gray;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
}

.submit:hover {
    background-color: lightgray;
    color: gray;
}

.submit:active {
    transform: scale(.95);
}

button{
    text-decoration: none;
    display: inline-block;
    margin-left: 35%;
    margin-top: 40px;
    padding: 15px 16px;
    color: #fff;
    background: gray;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
    font-family: tahoma;
    border: none;
    margin-left: 50%;
}

button:active {
    transform: scale(.95);
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

button:disabled:active {
    transform: none;
}

.types {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: tahoma;
    margin: auto;
}

.types input {
    margin-left: 12px;
}

.types label {
    margin-left: 3px;
}

.calculate {
    margin-left: 15%;
}

.alert.denger {
    background: #c50505;
    color: #ccc;
    padding: 15px 50px;
    font-family: tahoma;
    border-radius: 7px;
    border: 2px solid red;
}

.alert.sucsess {
    background-color: #51a951;
    color: #ddd;
    padding: 15px 50px;
    font-family: tahoma;
    border-radius: 7px;
    border: 2px solid lime;
}